[Unit]
Description=CoreRaT EVL Name-Service Router
Documentation=https://github.com/ratos-project/corerat
After=local-fs.target

[Service]
Type=simple
RuntimeDirectory=corerat
ExecStart=/usr/bin/corerat-router-evl
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
