[Unit]
Description=CoreRaT EVL Router
Documentation=https://github.com/ratos-project/corerat
After=local-fs.target
Conflicts=corerat-router-tcp.service corerat-tools.service

[Service]
Type=simple
RuntimeDirectory=corerat
ExecStart=/usr/bin/corerat-router-evl
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target