[Unit]
Description=CoreRaT TiMS TCP Router
Documentation=https://github.com/ratos-project/corerat
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/bin/corerat-router-tcp
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
